﻿@model IEnumerable<LaborCosts.Db.DTO.AuditDTO>

<table class="table-bordered">
    <tbody>
        <tr>
            <td>
                <div class="row s12">
                    <div class="input-field col s9">
                        <input id="date-filter" data-field-name="Date" type="text" class="datepicker filter-field" />
                        <label for="date-filter" class="black-text">Дата</label>
                    </div>
                    <div class="col s3">
                        <div class="row">
                            <i class="material-icons grey-text sort-control" data-field="Date" data-type="asc">arrow_drop_up</i>
                        </div>
                        <div class="row">
                            <i class="material-icons grey-text sort-control" data-field="Date" data-type="desc">arrow_drop_down</i>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="row s12">
                    <div class="input-field col s8">
                        <input id="proj-name-filter" data-field-name="proj.Name" type="text" class="validate filter-field" />
                        <label for="proj-name-filter" class="black-text">Проект</label>
                    </div>
                    <div class="col s4 right">
                        <div class="row">
                            <i class="material-icons grey-text sort-control" data-field="proj.Name" data-type="asc">arrow_drop_up</i>
                        </div>
                        <div class="row">
                            <i class="material-icons grey-text sort-control" data-field="proj.Name" data-type="desc">arrow_drop_down</i>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="row s12">
                    <div class="input-field col s9">
                        <input id="time-filter" data-field-name="Time" type="text" class="validate filter-field" />
                        <label for="time-filter" class="black-text">Трудозатраты</label>
                    </div>
                    <div class="col s3 left">
                        <div class="row">
                            <i class="material-icons grey-text sort-control" data-field="Time" data-type="asc">arrow_drop_up</i>
                        </div>
                        <div class="row">
                            <i class="material-icons grey-text sort-control" data-field="Time" data-type="desc">arrow_drop_down</i>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="row s12">
                    <div class="input-field col s9">
                        <input id="comment-filter" data-field-name="Comment" type="text" class="validate filter-field" />
                        <label for="comment-filter" class="black-text">Комментарий</label>
                    </div>
                    <div class="col s3 left">
                        <div class="row">
                            <i class="material-icons grey-text sort-control" data-field="Comment" data-type="asc">arrow_drop_up</i>
                        </div>
                        <div class="row">
                            <i class="material-icons grey-text sort-control" data-field="Comment" data-type="desc">arrow_drop_down</i>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="filter-btn-row row s8">
                    <i class="col s4  material-icons grey-text filter-btn">search</i>
                    <i class="col s4 material-icons grey-text clear-filter-btn">clear</i>
                </div>
            </td>
        </tr>
        @{foreach (var audit in Model)
            {
                <tr>
                    <td> @audit.Date</td>
                    <td> @audit.ProjectName </td>
                    <td> @audit.Time </td>
                    <td> @audit.Comment </td>
                    <td>
                        <a data-id="@audit.Id" class="delete-audit-btn btn-floating btn-small waves-effect waves-light"><i class="material-icons ">cancel</i></a>
                    </td>
                </tr>
            };
        }
    </tbody>
</table>

<script type="text/javascript">
    $(".table-bordered ").find(".datepicker").pickadate({
        selectMonths: true,
        selectYears: 15,
        today: 'Сегодня',
        clear: 'Очистить',
        close: 'Ok',
        closeOnSelect: true
    });
</script>