﻿@model LaborCosts.Models.MainPageModel

<div class="container">
    <div id="paginatable-grid-holder" class="row">
        @Html.Partial("PaginatableGrid", Model)
    </div>
    <!-- Modal Trigger -->
    <div class="row">
        <button data-target="add-cost-modal" class="btn modal-trigger right">Добавить запись</button>
    </div>

    <div id="modal-holder">
    </div>
</div>

<script type="text/javascript" src="~/js/mainPage.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#modal-holder").load(loadModalUrl, null, function (text, status) {
            if (status == "error") {
                Materialize.toast(text, messageBoxDuration);
                return;
            }

            var $el = $("#add-cost-modal");

            $el.modal();
            $el.find('select').material_select();
            $el.find('.datepicker').pickadate({
                selectMonths: true,
                selectYears: 15,
                today: 'Сегодня',
                clear: 'Очистить',
                close: 'Ok',
                closeOnSelect: true
            });

            $el.find("#submit-new-audit-btn").click(function (response) {
                var timeCost = $("#time-cost-input").val();
                var projectId = $("#project-id-select").val();
                var date = $("#date-input").val();
                var comment = $("#comment-input").val();

                if (!projectId || !timeCost) {
                    Materialize.toast('Необходимо заполниnь обязательные поля!', messageBoxDuration);
                    return;
                }
                addNewAuditNote(projectId, timeCost, date, comment);
            });
        });
    });
</script>