﻿@model IEnumerable<LaborCosts.Db.Models.Project>

<!-- Modal Structure -->
<div id="add-cost-modal" class="modal">
    <div class="modal-content">
        <h4>Новые трудозатраты</h4>
        <div class="row">
            <form class="col s12" action="javascript:void(0)">
                <div class="row">
                    <div class="input-field col s4">
                        <select id="project-id-select" name="project-id">
                            <option value="" disabled selected>Проект *</option>
                            @{ foreach (var project in Model)
                                {
                                    <option value="@project.Id"> @project.Name </option>}
                            }
                        </select>
                    </div>

                    <div class="input-field col s6">
                        <input id="date-input" type="text" class="datepicker">
                        <label for="date-input">Дата</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <input id="time-cost-input" type="number" class="validate" name="time-cost">
                        <label for="time-cost-input">Затраченное время (ч) *</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <textarea id="comment-input" class="materialize-textarea"></textarea>
                        <label for="comment-input">Комментарий</label>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button id="submit-new-audit-btn" class="btn waves-effect waves-light" type="submit">
            Отправить
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>