﻿@model LaborCosts.Models.MainPageModel

<div class="grid-holder row">
    @Html.Partial("Grid", Model.Audits)
</div>

<div class="row">
    <div class="col push-s4 center">
        <ul id="pagination" class="pagination"></ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#pagination').materializePagination({
            align: 'left',
            lastPage: @Model.PageCount,
            firstPage: 1,
            startPage: currentPage,
            useUrlParameter: false,
            onClickCallback: function (requestedPage) {
                saveFilters();
                currentPage = requestedPage;
                updatePaginationArea();
            }
        });
    });
</script>