﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Manpower</title>

    <environment names="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/materializecss/materialize.min.js"></script>
        <script type="text/javascript" src="~/lib/materializecss/materialize-pagination.js"></script>
    </environment>
    <header>
        <nav>
            <div class="nav-wrapper teal">
                <a href="/Home/Index" class="brand-logo center"><i class="material-icons">whatshot</i>Manpower</a>
                <ul class="right hide-on-med-and-down">
                    <li><a id ="user-name-holder" href="javascript:void(0)"></a></li>
                </ul>
            </div>
        </nav>
     </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - LC managment systems :)</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
